<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/vendors/angular-gridster/dist/angular-gridster.min.css'/>

    <link rel='stylesheet' href='/vendors/font-awesome/css/font-awesome.min.css'/>

    <script src="/vendors/jquery/dist/jquery.min.js"></script>

    <link rel='stylesheet' href='/vendors/bootstrap/dist/css/bootstrap.min.css'/>
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/vendors/angular/angular.min.js"></script>
    <script src="/vendors/angular-gridster/dist/angular-gridster.min.js"></script>
    <script src="/vendors/angular-base64/angular-base64.js"></script>

    <script src="/vendors/d3/d3.js"></script>

    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/dashboard/module.js"></script>
    <script src="/javascripts/dashboard/controller/dashboard.js"></script>


    <script src="/vendors/angular-d3charts/src/directives/d3pie.js"></script>
    <script src="/vendors/angular-d3charts/src/directives/d3circle.js"></script>
    <script src="/vendors/angular-d3charts/src/directives/d3codeflower.js"></script>
    <script src="/vendors/angular-d3charts/src/directives/d3dependency.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
<body class="layout_full" ng-app="de.devjs.dashboard.git">
{{{body}}}
</body>
</html>
