.view.dashboard {

  .widget {
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    background: #ffffff;
    padding: 10px;

    // Predefined colors
    &.color-cyan {
      background-color: #12b0c5;
    }
    &.color-purple {
      background-color: #9c4274;
    }
    &.color-orange {
      background-color: #ff9618;
    }
    &.color-salmon {
      background-color: #ec663c;
    }
  }

  h1 {
    text-align: center;
  }

  d3pie .arc {
    $max: 10;
    @for $i from 1 through $max {
      &:nth-child(#{$i}) {
        path {
          fill: rgba(255,255,255, 0.5 + 0.5 * 1/$i ) !important;
        }
      }
    }
  }
}