body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

body.layout_full {
  margin: 0;
  padding: 0;
  background-color: #222222; }

d3pie .arc:nth-child(1) path {
  fill: white !important; }

d3pie .arc:nth-child(2) path {
  fill: rgba(255, 255, 255, 0.75) !important; }

d3pie .arc:nth-child(3) path {
  fill: rgba(255, 255, 255, 0.666667) !important; }

d3pie .arc:nth-child(4) path {
  fill: rgba(255, 255, 255, 0.625) !important; }

d3pie .arc:nth-child(5) path {
  fill: rgba(255, 255, 255, 0.6) !important; }

d3pie .arc:nth-child(6) path {
  fill: rgba(255, 255, 255, 0.583333) !important; }

d3pie .arc:nth-child(7) path {
  fill: rgba(255, 255, 255, 0.571429) !important; }

d3pie .arc:nth-child(8) path {
  fill: rgba(255, 255, 255, 0.5625) !important; }

d3pie .arc:nth-child(9) path {
  fill: rgba(255, 255, 255, 0.555556) !important; }

d3pie .arc:nth-child(10) path {
  fill: rgba(255, 255, 255, 0.55) !important; }

d3codeflower line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px; }

d3codeflower code.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px; }

d3codeflower code.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px; }

d3codeflower code.node.collapsed {
  stroke: #555; }

d3dependency .group path {
  fill-opacity: .5;
  stroke-width: .25px;
  fill: grey; }

d3dependency #circle:hover path.fade {
  display: none; }

d3dependency #circle path.cycle {
  stroke: red;
  stroke-width: 2.25px; }
  d3dependency #circle path.cycle:nth-child(1) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(2) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(3) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(4) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(5) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(6) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(7) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(8) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(9) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(10) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(11) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(12) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(13) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(14) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(15) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(16) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(17) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(18) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(19) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(20) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(21) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(22) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(23) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(24) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(25) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(26) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(27) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(28) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(29) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(30) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(31) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(32) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(33) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(34) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(35) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(36) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(37) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(38) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(39) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(40) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(41) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(42) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(43) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(44) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(45) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(46) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(47) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(48) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(49) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(50) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(51) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(52) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(53) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(54) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(55) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(56) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(57) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(58) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(59) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(60) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(61) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(62) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(63) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(64) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(65) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(66) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(67) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(68) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(69) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(70) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(71) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(72) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(73) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(74) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(75) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(76) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(77) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(78) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(79) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(80) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(81) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(82) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(83) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(84) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(85) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(86) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(87) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(88) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(89) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(90) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(91) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(92) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(93) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(94) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(95) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(96) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(97) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(98) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(99) {
    fill: #e87d7d !important; }
  d3dependency #circle path.cycle:nth-child(100) {
    fill: #e87d7d !important; }

d3dependency #circle path.chord {
  stroke: #000;
  stroke-width: .25px; }
  d3dependency #circle path.chord:nth-child(1) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(2) {
    fill: #b3e5ff !important; }
  d3dependency #circle path.chord:nth-child(3) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(4) {
    fill: #ffe6b3 !important; }
  d3dependency #circle path.chord:nth-child(5) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(6) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(7) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(8) {
    fill: #e5ffb3 !important; }
  d3dependency #circle path.chord:nth-child(9) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(10) {
    fill: #e5b3ff !important; }
  d3dependency #circle path.chord:nth-child(11) {
    fill: #ffccb3 !important; }
  d3dependency #circle path.chord:nth-child(12) {
    fill: #b3ffb3 !important; }
  d3dependency #circle path.chord:nth-child(13) {
    fill: #b3ccff !important; }
  d3dependency #circle path.chord:nth-child(14) {
    fill: #ffb3e5 !important; }
  d3dependency #circle path.chord:nth-child(15) {
    fill: #ffffb3 !important; }
  d3dependency #circle path.chord:nth-child(16) {
    fill: #b3ffe6 !important; }
  d3dependency #circle path.chord:nth-child(17) {
    fill: #ccb3ff !important; }
  d3dependency #circle path.chord:nth-child(18) {
    fill: #ffb3b3 !important; }
  d3dependency #circle path.chord:nth-child(19) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(20) {
    fill: #b3e6ff !important; }
  d3dependency #circle path.chord:nth-child(21) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(22) {
    fill: #ffe5b3 !important; }
  d3dependency #circle path.chord:nth-child(23) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(24) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(25) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(26) {
    fill: #e5ffb3 !important; }
  d3dependency #circle path.chord:nth-child(27) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(28) {
    fill: #e5b3ff !important; }
  d3dependency #circle path.chord:nth-child(29) {
    fill: #ffccb3 !important; }
  d3dependency #circle path.chord:nth-child(30) {
    fill: #b3ffb3 !important; }
  d3dependency #circle path.chord:nth-child(31) {
    fill: #b3ccff !important; }
  d3dependency #circle path.chord:nth-child(32) {
    fill: #ffb3e5 !important; }
  d3dependency #circle path.chord:nth-child(33) {
    fill: #ffffb3 !important; }
  d3dependency #circle path.chord:nth-child(34) {
    fill: #b3ffe6 !important; }
  d3dependency #circle path.chord:nth-child(35) {
    fill: #ccb3ff !important; }
  d3dependency #circle path.chord:nth-child(36) {
    fill: #ffb3b3 !important; }
  d3dependency #circle path.chord:nth-child(37) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(38) {
    fill: #b3e6ff !important; }
  d3dependency #circle path.chord:nth-child(39) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(40) {
    fill: #ffe5b3 !important; }
  d3dependency #circle path.chord:nth-child(41) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(42) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(43) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(44) {
    fill: #e6ffb3 !important; }
  d3dependency #circle path.chord:nth-child(45) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(46) {
    fill: #e6b3ff !important; }
  d3dependency #circle path.chord:nth-child(47) {
    fill: #ffccb3 !important; }
  d3dependency #circle path.chord:nth-child(48) {
    fill: #b3ffb3 !important; }
  d3dependency #circle path.chord:nth-child(49) {
    fill: #b3ccff !important; }
  d3dependency #circle path.chord:nth-child(50) {
    fill: #ffb3e5 !important; }
  d3dependency #circle path.chord:nth-child(51) {
    fill: #ffffb3 !important; }
  d3dependency #circle path.chord:nth-child(52) {
    fill: #b3ffe6 !important; }
  d3dependency #circle path.chord:nth-child(53) {
    fill: #ccb3ff !important; }
  d3dependency #circle path.chord:nth-child(54) {
    fill: #ffb3b3 !important; }
  d3dependency #circle path.chord:nth-child(55) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(56) {
    fill: #b3e6ff !important; }
  d3dependency #circle path.chord:nth-child(57) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(58) {
    fill: #ffe5b3 !important; }
  d3dependency #circle path.chord:nth-child(59) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(60) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(61) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(62) {
    fill: #e6ffb3 !important; }
  d3dependency #circle path.chord:nth-child(63) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(64) {
    fill: #e6b3ff !important; }
  d3dependency #circle path.chord:nth-child(65) {
    fill: #ffccb3 !important; }
  d3dependency #circle path.chord:nth-child(66) {
    fill: #b3ffb3 !important; }
  d3dependency #circle path.chord:nth-child(67) {
    fill: #b3ccff !important; }
  d3dependency #circle path.chord:nth-child(68) {
    fill: #ffb3e5 !important; }
  d3dependency #circle path.chord:nth-child(69) {
    fill: #ffffb3 !important; }
  d3dependency #circle path.chord:nth-child(70) {
    fill: #b3ffe5 !important; }
  d3dependency #circle path.chord:nth-child(71) {
    fill: #ccb3ff !important; }
  d3dependency #circle path.chord:nth-child(72) {
    fill: #ffb3b3 !important; }
  d3dependency #circle path.chord:nth-child(73) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(74) {
    fill: #b3e5ff !important; }
  d3dependency #circle path.chord:nth-child(75) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(76) {
    fill: #ffe5b3 !important; }
  d3dependency #circle path.chord:nth-child(77) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(78) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(79) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(80) {
    fill: #e6ffb3 !important; }
  d3dependency #circle path.chord:nth-child(81) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(82) {
    fill: #e6b3ff !important; }
  d3dependency #circle path.chord:nth-child(83) {
    fill: #ffccb3 !important; }
  d3dependency #circle path.chord:nth-child(84) {
    fill: #b3ffb3 !important; }
  d3dependency #circle path.chord:nth-child(85) {
    fill: #b3ccff !important; }
  d3dependency #circle path.chord:nth-child(86) {
    fill: #ffb3e5 !important; }
  d3dependency #circle path.chord:nth-child(87) {
    fill: #ffffb3 !important; }
  d3dependency #circle path.chord:nth-child(88) {
    fill: #b3ffe5 !important; }
  d3dependency #circle path.chord:nth-child(89) {
    fill: #ccb3ff !important; }
  d3dependency #circle path.chord:nth-child(90) {
    fill: #ffb3b3 !important; }
  d3dependency #circle path.chord:nth-child(91) {
    fill: #ccffb3 !important; }
  d3dependency #circle path.chord:nth-child(92) {
    fill: #b3e5ff !important; }
  d3dependency #circle path.chord:nth-child(93) {
    fill: #ffb3ff !important; }
  d3dependency #circle path.chord:nth-child(94) {
    fill: #ffe5b3 !important; }
  d3dependency #circle path.chord:nth-child(95) {
    fill: #b3ffcc !important; }
  d3dependency #circle path.chord:nth-child(96) {
    fill: #b3b3ff !important; }
  d3dependency #circle path.chord:nth-child(97) {
    fill: #ffb3cc !important; }
  d3dependency #circle path.chord:nth-child(98) {
    fill: #e6ffb3 !important; }
  d3dependency #circle path.chord:nth-child(99) {
    fill: #b3ffff !important; }
  d3dependency #circle path.chord:nth-child(100) {
    fill: #e6b3ff !important; }

.view.dashboard .widget {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background: #ffffff;
  padding: 10px; }
  .view.dashboard .widget.color-cyan {
    background-color: #12b0c5; }
  .view.dashboard .widget.color-purple {
    background-color: #9c4274; }
  .view.dashboard .widget.color-orange {
    background-color: #ff9618; }
  .view.dashboard .widget.color-salmon {
    background-color: #ec663c; }

.view.dashboard h1 {
  text-align: center; }
