body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

body.layout_full {
  margin: 0;
  padding: 0;
  background-color: #222222; }

d3pie .arc:nth-child(1) path {
  fill: white !important; }

d3pie .arc:nth-child(2) path {
  fill: rgba(255, 255, 255, 0.75) !important; }

d3pie .arc:nth-child(3) path {
  fill: rgba(255, 255, 255, 0.666667) !important; }

d3pie .arc:nth-child(4) path {
  fill: rgba(255, 255, 255, 0.625) !important; }

d3pie .arc:nth-child(5) path {
  fill: rgba(255, 255, 255, 0.6) !important; }

d3pie .arc:nth-child(6) path {
  fill: rgba(255, 255, 255, 0.583333) !important; }

d3pie .arc:nth-child(7) path {
  fill: rgba(255, 255, 255, 0.571429) !important; }

d3pie .arc:nth-child(8) path {
  fill: rgba(255, 255, 255, 0.5625) !important; }

d3pie .arc:nth-child(9) path {
  fill: rgba(255, 255, 255, 0.555556) !important; }

d3pie .arc:nth-child(10) path {
  fill: rgba(255, 255, 255, 0.55) !important; }

d3codeflower code.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px; }

d3codeflower code.node.directory {
  stroke: #9ecae1;
  stroke-width: 2px; }

d3codeflower code.node.collapsed {
  stroke: #555; }

d3codeflower line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px; }

.view.dashboard .widget {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  background: #ffffff;
  padding: 10px; }
  .view.dashboard .widget.color-cyan {
    background-color: #12b0c5; }
  .view.dashboard .widget.color-purple {
    background-color: #9c4274; }
  .view.dashboard .widget.color-orange {
    background-color: #ff9618; }
  .view.dashboard .widget.color-salmon {
    background-color: #ec663c; }

.view.dashboard h1 {
  text-align: center; }
