body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif; }

body.layout_full {
  margin: 0;
  padding: 0;
  background-color: #222222; }

.view.dashboard .gridster .gridster-item {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  color: #222222;
  background: #ffffff;
  padding: 10px; }
  .view.dashboard .gridster .gridster-item.color-cyan {
    background-color: #12b0c5; }
  .view.dashboard .gridster .gridster-item.color-purple {
    background-color: #9c4274; }
  .view.dashboard .gridster .gridster-item.color-orange {
    background-color: #ff9618; }
  .view.dashboard .gridster .gridster-item.color-salmon {
    background-color: #ec663c; }

.view.dashboard d3pie .arc:nth-child(1) path {
  fill: white !important; }

.view.dashboard d3pie .arc:nth-child(2) path {
  fill: rgba(255, 255, 255, 0.75) !important; }

.view.dashboard d3pie .arc:nth-child(3) path {
  fill: rgba(255, 255, 255, 0.666667) !important; }

.view.dashboard d3pie .arc:nth-child(4) path {
  fill: rgba(255, 255, 255, 0.625) !important; }

.view.dashboard d3pie .arc:nth-child(5) path {
  fill: rgba(255, 255, 255, 0.6) !important; }

.view.dashboard d3pie .arc:nth-child(6) path {
  fill: rgba(255, 255, 255, 0.583333) !important; }

.view.dashboard d3pie .arc:nth-child(7) path {
  fill: rgba(255, 255, 255, 0.571429) !important; }

.view.dashboard d3pie .arc:nth-child(8) path {
  fill: rgba(255, 255, 255, 0.5625) !important; }

.view.dashboard d3pie .arc:nth-child(9) path {
  fill: rgba(255, 255, 255, 0.555556) !important; }

.view.dashboard d3pie .arc:nth-child(10) path {
  fill: rgba(255, 255, 255, 0.55) !important; }
